<launch>

  <arg name="rviz" default="true" />

  <rosparam file="$(find super_lio)/config/hesai_XT16.yaml" command="load"/>

  <!-- Launch Nodes -->
  <node pkg="super_lio" type="super_lio_node" name="super_lio_node" output="screen"/>

  <!-- Optional RViz -->
  <group if="$(arg rviz)">
		<node pkg="rviz" type="rviz" name="super_lio" args="-d $(find super_lio)/rviz/lio.rviz" />
	</group>


</launch>